// ---------------------------------------------------------------------------
// FONTS
// ---------------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700");

$font-body: "Nunito Sans", Arial, Helvetica, sans-serif;

// ---------------------------------------------------------------------------
// COLORS
// ---------------------------------------------------------------------------

// Primary
$black: #2D2A32;
$light-pink: #F7E1D7;
$dark-green: #3F8527;
$blue: #058ED9;
$light-green: #B0C4B1;
$taupe: #DEDBD2;


// ---------------------------------------------------------------------------
// BREAKPOINTS
// ---------------------------------------------------------------------------

$xxs: 380px;
$xs: 450px;
$sm: 600px;
$md: 768px;
$lg: 960px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1800px;